.catalog {
  margin-top: -60px;
}

.catalog__filter {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 17px;
  background-color: #e2e5f2;
  border-radius: 30px;
}

.catalog__filter-country {
  .discard;
  position: relative;
  margin-left: 28px;
  padding-top: 17px;
  .fonts(16px,22px,600);
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: " ";
    left: -28px;
    top: 22px;
    width: 15px;
    height: 10px;
    background-image: url("../img/filter.svg");
  }
}

.catalog__filter-country-list {
  display: none;
}

.catalog__filter-button {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  width: 35px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & span {
    display: none;
  }

  & div {
    position: relative;
    margin-left: 10px;
    width: 3px;
    height: 3px;
    background-color: @base-color;

    &::before {
      position: absolute;
      content: " ";
      width: 3px;
      height: 3px;
      left: 7px;
      background-color: @base-color;
    }

    &::after {
      position: absolute;
      content: " ";
      width: 3px;
      height: 3px;
      right: 7px;
      background-color: @base-color;
    }
  }
}

.catalog__form-wrapper {
  box-sizing: border-box;
  margin-top: -60px;
  padding-top: 80px;
  padding-bottom: 28px;
  background-color: #edeff6;
}

.catalog__form {
  background-color: #ffd74b;
  border-radius: 20px;
}

.catalog__travellers {
  padding-bottom: 60px;
  /*margin-bottom: 0px;*/
  /* ВРЕМЕМННО*/
  background-color: #edeff6;
}

.catalog__travellers-list {
  .discard;
}

.catalog__show-all-travellers {
  position: relative;
  margin-top: 17px;
  margin-bottom: 19px;
  margin-left: 65px;
  padding-left: 20px;
  .fonts(17px,30px,600);
  width: 150px;
  background-color: transparent;
}

.catalog__show-all-travellers::after,
.catalog__show-all-travellers::before {
  position: absolute;
  content: " ";
  width: 18px;
  height: 2px;
  background-color: @base-color;
}

.catalog__show-all-travellers::before {
  top: 15px;
  left: -5px;
}

.catalog__show-all-travellers::after {
  top: 15px;
  left: -5px;
  transform: rotate(90deg);
}

.catalog__pagination-container {
  display: none;
}

@media (min-width: @tablet-width) {
  .catalog__filter-country {
    display: none;
  }

  .catalog__filter-country-list {
    .discard;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 365px;
    .fonts(20px,24px,600);
    text-transform: uppercase;
    color: #a5aabd;

    .catalog__filter-country-item {
      color: @base-color;
    }
  }

  .catalog__filter-button {
    display: flex;
    justify-content: space-between;
    min-width: 180px;
    .fonts(20px,24px,600);
    text-transform: uppercase;

    span {
      display: block;
    }

    div {
      margin-top: 6px;
      border-radius: 50%;

      &::before,
      &::after {
        border-radius: 50%;
      }
    }
  }

  .catalog__show-all-travellers {
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 50px;
  }

  .catalog__switcher {
    display: none;
  }

  .catalog__pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 688px;
    height: 100px;
    .fonts(20px,30px,600);
    background-color: #ffffff;
    border-radius: 20px;
  }

  .catalog__button-container {
    margin-right: 40px;
  }
}
