.country-card {
  margin-bottom: 35px;
  width: 270px;
}

.country-card__wrapper {
  display: block;
  width: 270px;
  height: 190px;
}

.country-card__wrapper--tai {
  position: relative;
  width: 270px;
  height: 150px;
  background-image: url("../img/thailand-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.country-card__wrapper--france {
  position: relative;
  width: 270px;
  height: 150px;
  background-image: url("../img/france-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.country-card__wrapper--czech {
  position: relative;
  width: 270px;
  height: 150px;
  background-image: url("../img/czech-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.country-card__description {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  bottom: -20px;
  width: 270px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 20px;
}

.country-card__flag {
  position: absolute;
  top: -10px;
  left: 30px;
  width: 35px;
  height: 24px;
}

.country-card__flag--tai {
  background-image: url("../img/flags-back@1x.png");
  background-position: 0 60px;
}

.country-card__flag--france {
  background-image: url("../img/flags-back@1x.png");
  background-position: 20px 50px;
}

.country-card__flag--czech {
  background-image: url("../img/flags-back@1x.png");
  background-position: 20px 50px;
}

.country-card__title {
  display: block;
  .fonts(21px,21px,700);
  .discard;
  margin-top: 25px;
  margin-left: 20px;
  width: 100px;
}

.country-card__slogan {
  display: block;
  .fonts(16px,16px,500);
  .discard;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #c7c7c7;
}

.country-card__users {
  display: block;
  position: relative;
  margin-top: 27px;
  padding-right: 20px;
  margin-left: auto;
  width: 40px;
  text-align: right;
  color: #c7c7c7;
}

.country-card__users::before {
  position: absolute;
  content: " ";
  top: 2px;
  left: -12px;
  width: 20px;
  height: 10px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}
