.destinations {
  position: relative;
  z-index: 9;
  margin-top: -30px;
  padding-top: 102px;
  padding-bottom: 30px;
  background-color: #edeff6;
  .border-radius(30px);
}

.destinations__caption {
  .discard;
  padding-left: 25px;
  margin-bottom: 19px;
  .fonts(24px,24px,700);
  color: @caption-font-color;
}

.destinations__advert {
  .discard;
  padding-left: 25px;
  padding-right: 30px;
  margin-bottom: 60px;
  .fonts(16px,22px,400);
}

.destinations__list {
  .discard;
  margin-bottom: 26px;
  list-style: none;
}

.destinations__list-item {
  margin-bottom: 10px;
}

.country-card__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (min-width: @tablet-width) {
  .destinations {
    padding-bottom: 78px;
    .border-radius(60px);
  }

  .destinations__caption {
    .discard;
    margin-top: 2px;
    margin-left: 33px;
    .fonts(45px,45px,600);
  }

  .destinations__advert {
    margin-top: 57px;
    margin-left: 10px;
    margin-bottom: 105px;
    padding-right: 300px;
    .fonts(28px,33px,400);
  }

  .destinations__link {
    margin: 0 auto;
    padding-left: 30px;
    width: 618px;
    height: 81px;
    .fonts(24px,24px,600);
    border-radius: 20px;
  }

  .destinations__list {
    margin-bottom: 47px;
  }
}

@media (min-width: @desktop-width) {
  .destinations {
    display: flex;
    flex-wrap: wrap;
  }

  .destinations__caption {
    .discard;
    height: 100px;
  }

  .destinations__advert {
    .discard;
    margin-left: -145px;
    margin-top: 150px;
    width: 370px;
    height: 160px;
  }

  .destinations__list {
    order: -1;
  }

  .destinations__link {
    width: 218px;
    margin-top: -80px;
    margin-right: 355px;
  }
}
