.destinations {
  width: 270px;
  min-height: 760px;

  background-color: #edeff6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.destinations__caption {
  .fonts(24px,24px,700);
  .discard;
  color: @caption-font-color;
}

.destinations__advert {
  .fonts(16px,22px,400);
  .discard;
}

.destinations__list {
  .discard;
  list-style: none;
}

.destinations__link {
 display: flex;
 position: relative;
 justify-content: flex-start;
 align-items: center;

 box-sizing: border-box;
 padding-left: 20px;
 .fonts(18px,18px,700);

 width: 270px;
 height: 62px;

 text-decoration: none;
 background-color: #ffd74b;
 color: #1d2e5b;
 border-radius: 10px;
}

.destinations__link::before {
  content: " ";
  position: absolute;
  top: 25px;
  right: 20px;

  width: 10px;
  height: 10px;

  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;
}
