.form {
  margin-top: -60px;
}

.form__profile {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 83px;
  padding-bottom: 93px;
  background-color: #edeff6;
}

.form__profile-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 17px;
  margin-bottom: 14px;
}

.form__profile-level {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.form__profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.form__profile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  margin-bottom: 25px;
  width: 270px;
  height: 38px;
  .fonts(17px,30px,600);
  text-decoration: none;
  color: #161c35;
  text-transform: uppercase;
  background-color: #dfe3f0;
  border-radius: 30px;
}

.form_profile-hashtags {
  .discard;
  margin-bottom: 16px;
  height: 94px;
  .fonts(17px,18px,500);
  text-transform: uppercase;
  border-radius: 10px;
  border-color: #cbced9;

  legend {
    padding-top: 2px;
  }

  textarea {
    .discard;
    box-sizing: border-box;
    padding-top: 11px;
    width: 219px;
    .fonts(16px,22px,400);
    border: none;
    resize: none;
    background-color: inherit;
  }
}

.form_profile-transport {
  .discard;
  height: 68px;
  .fonts(17px,18px,500);
  text-transform: uppercase;
  border-radius: 10px;
  border-color: #cbced9;

  legend {
    padding-top: 2px;
    padding-left: 1px;
  }

  ul {
    .discard;
    margin-top: 3px;
    margin-left: 68px;
  }
}

.form__plans {
  position: relative;
  margin-top: -61px;
  padding-top: 28px;
  padding-bottom: 90px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #dfe3f0;
  counter-reset: section;
}

.form__plans-caption {
  .discard;
  margin-bottom: 27px;
}

.form__plans-point {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 24px 20px;
  border-radius: 10px;
  background-color: #ffffff;

  h3 {
    position: relative;
    .discard;
    padding-left: 17px;
    margin-bottom: 20px;
    .fonts(16px,16px,600);
    counter-increment: section;

    &::before {
      position: absolute;
      content: counter(section) ".";
      left: 0;
    }
  }

  span {
    .fonts(14px,14px,600);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  span:first-of-type {
    margin-bottom: 5px;
  }

  span:last-of-type {
    margin-bottom: 23px;
  }

  a {
    margin-left: 3px;
    color: #b2b2b2;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.form__plans-point:first-of-type {
  margin-bottom: 10px;
}

.form__trip {
  position: relative;
  z-index: 10;
  margin-top: -60px;
  padding-top: 28px;
  padding-bottom: 71px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #d4d9eb;

  h2 {
    .discard;
    margin-top: 1px;
    margin-bottom: 27px;
  }

  .form__trip-list {
    .discard;
    list-style: none;
  }
}

.form__trip-wrapper {
  position: absolute;
  top: 39px;
  right: 85px;
  width: 5px;
  height: 5px;
  background-color: #1d2e5b;
  border-radius: 50%;

  &::after,
  &::before {
    position: absolute;
    content: " ";
    width: 5px;
    height: 5px;
    top: 0;
    right: -21px;
    background-color: #bbbfcc;
    border-radius: 50%;
  }

  &::after {
    right: -42px;
  }
}

@media (min-width: @tablet-width) {
  .form__profile {
  padding-bottom: 104px;
  }

  .form__profile-wrapper {
    order: 1;
    padding-top: 41px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .form__profile-photo {
    width: 94px;
    height: 94px;
    border-radius: 0%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .form_profile-transport {
    order: 2;
    margin-top: -123px;
    margin-left: 188px;
    margin-bottom: 51px;
    width: 306px;
    height: 100px;

    ul {
      .discard;
      margin-left: 55px;
      margin-top: 14px;
    }
  }

  .form__profile-link {
    order: 3;
    margin-left: 35px;
    margin-bottom: 42px;
    width: 618px;
    height: 58px;
    border-radius: 10px;
    letter-spacing: 2px;
    .fonts(20px,18px,500);
  }

  .form_profile-hashtags {
    order: 4;
    box-sizing: border-box;
    margin-left: 35px;
    width: 618px;
    height: 104px;

    textarea {
      box-sizing: border-box;
      padding-right: 160px;
      padding-top: 24px;
      width: auto;
      .fonts(20px,24px,400);
    }
  }

  .form__plans {
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 134px;
  }

  .form__plans-caption {
    .discard;
    margin-bottom: 41px;
    .fonts(36px,50px,700);
  }

  .form__plans-point {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 11px;

    &::before {
      position: absolute;
      content: " ";
      top: 80px;
      left: 0;
      width: 618px;
      height: 1px;
      background-color: #eff0f4;
    }

    h3 {
      margin-top: 3px;
      padding-left: 12px;
      .fonts(24px,50px,700);
      width: 550px;

      &::before {
        left: 547px;
        top: 17px;
        .fonts(20px,18px,500);
      }
    }

    span {
      margin-left: 10px;
      margin-top: 21px;
      width: 140px;
      .fonts(20px,18px,400);
      letter-spacing: 2px;
    }

    span:last-of-type {
      margin-left: 45px;
      margin-right: 10px;
      margin-bottom: 0;
      width: 180px;
    }

    a {
      margin-left: 70px;
      margin-top: 22px;
      .fonts(20px,18px,400);
      letter-spacing: 2px;
    }
  }

  .form__trip {
    padding-top: 48px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 180px;

    h2 {
      margin-bottom: 49px;
      .fonts(36px,50px,700);
    }
  }

  .form__trip-wrapper {
    top: 69px;
    right: 143px;

    &::after,
    &::before {
      right: -34px;
    }

    &::after {
      right: -68px;
    }
  }

  .form__trip-list {

  }
}
