.guess {
  width: 270px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  color: #161c35;
  background-color: #161c35;
}

.guess__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.guess__item:nth-of-type(1) {
  box-sizing: border-box;
  position: relative;
  padding-left: 20px;
  padding-top: 35px;

  width: 270px;
  height: 100px;

  background-color: #ff8d30;
  border-radius: 20px;
}

.guess__item:nth-of-type(1)::before {
  position: absolute;
  content: "1";
  right: 0;

  width: 30px;
  height: 30px;

  color: #ffffff;
}

.guess__item:nth-of-type(2) {
  box-sizing: border-box;
  position: relative;
  margin-top: -30px;
  padding-left: 20px;
  padding-top: 35px;

  width: 270px;
  height: 130px;

  background-color: #ffa530;
  border-radius: 20px;
}

.guess__item:nth-of-type(2)::before {
  position: absolute;
  content: "2";
  right: 0;

  width: 30px;
  height: 30px;

  color: #ffffff;
}

.guess__item:nth-of-type(3) {
  box-sizing: border-box;
  position: relative;
  margin-top: -50px;
  padding-left: 20px;
  padding-top: 35px;
  padding-right: 30px;

  width: 270px;
  height: 150px;

  background-color: #ffbd30;
  border-radius: 20px;
}

.guess__item:nth-of-type(3)::before {
  position: absolute;
  content: "3";
  right: 0;

  width: 30px;
  height: 30px;

  color: #ffffff;
}

.guess__item:nth-of-type(4) {
  box-sizing: border-box;
  position: relative;
  margin-top: -65px;
  padding-left: 20px;
  padding-top: 35px;
  padding-right: 30px;

  width: 270px;
  height: 90px;

  background-color: #ffd74b;
  border-radius: 20px;
}

.guess__item:nth-of-type(4)::before {
  position: absolute;
  content: "4";
  right: 0;

  width: 30px;
  height: 30px;

  color: #ffffff;
}
