.hobbies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  padding-right: 32px;

  .fonts(16px,18px,300);
}

.hobbies-list__item {
  color: @base-color;
  margin-right: 5px;
}
