.login-link {
  display: block;

  width: 270px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

  background-color: #ffd74b;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #161c35;
  border-radius: 20px;
}
