.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 3px;
  width: 270px;

  .fonts(17px,30px,700);

  background-color: #ffd74b;
  text-decoration: none;
  text-transform: uppercase;
  color: #161c35;
  border-radius: 20px;
}

.login-link--fewer {
  width: 189px;
  height: 40px;
}
