.main-nav {
  order: 3;
  min-height: 570px;
  background-color: #ffffff;
}

.main-nav--hidden {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.main-nav__toggle {
  position: relative;
  width: 50px;
  height: 25px;
  font-size: 0;
  background-color: transparent;
  border: none;
}

.main-nav__toggle::after,
.main-nav__toggle::before {
  position: absolute;
  content: " ";
  left: 10px;
  width: 25px;
  height: 2px;
  background-color: #cccccc;
}

.main-nav__toggle::after {
  transform: rotate(45deg);
}

.main-nav__toggle::before {
  transform: rotate(-45deg);
}

.main-nav__contact-wrapper {
  margin-bottom: 70px;
}

.main-nav__social {
  margin-left: 80px;
}

@media (min-width: @desktop-width) {
  .main-nav {
    /*width: 550px;*/
    min-height: 30px;
    background-color: transparent;
  }

  .main-nav--hidden {
    display: block;
    position: inherit;
  }

  .main-nav__list {
    .discard;
    display: flex;
  }

  .main-nav__logo {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__identification-wrapper {
    display: none;
  }

  .main-nav__contact-wrapper {
    margin: 0;
  }
}
