.main-review {

  background-color: #161c35;
  color: #ffffff;
}

.main-review__quote {
  .discard;
}

.main-review__text {
  .discard;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.main-review__author {
  .discard;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
