.map {
  position: relative;
  z-index: 4;
  margin: 0 auto;
  margin-top: -30px;
  width: 320px;
  height: 330px;
  background-color: @base-color;
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
    height: 518px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1440px;
    height: 448px;
  }
}
