.moving-list-catalog {
  .discard;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.moving-list__item-catalog {
  width: 33px;
  height: 33px;
  background-color: #ffffff;
  border-radius: 50%;
}

.moving-list__item-type {
  display: block;
  width: 33px;
  height: 33px;
}

.moving-list__item-type--plane {
  background-image: url("../img/plane.svg");
  background-size: 19px 21px;
  background-position: 4px 5px;
  background-repeat: no-repeat;
}

.moving-list__item-type--bus {
  background-image: url("../img/bus.svg");
  background-size: 17px 21px;
  background-position: 8px 5px;
  background-repeat: no-repeat;
}

.moving-list__item-type--cycle {
  background-image: url("../img/bike.svg");
  background-size: 24px 21px;
  background-position: 4px 5px;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.moving-list__item-type--running {
  background-image: url("../img/run.svg");
  background-size: 20px 21px;
  background-position: 7px 5px;
  background-repeat: no-repeat;
}
