.online-status {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.online-status__item {
  margin-top: 25px;
  margin-right: 12px;
  width: 5px;
  height: 5px;

  border-radius: 50%;
  background-color: #f97676;
}

.online-status__item--active {
  background-color: #81e31e;
}
