.payment {
  position: relative;
  z-index: 7;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  padding-top: 52px;
  padding-bottom: 8px;
  .border-radius(30px);
  background-color: #edeff6;
}

.payment__create-profile {
  box-sizing: border-box;
  margin-left: 25px;
  padding-right: 100px;
  margin-top: 30px;
  margin-bottom: 40px;
  /*width: 245px;*/
  .fonts(24px,24px,700);
  text-decoration: none;
  color: @caption-font-color;
}

.payment__list {
  position: relative;
  .discard;
  margin-left: 24px;
  margin-top: 5px;
  margin-bottom: 30px;
  list-style: none;
  counter-reset: section;
}

.payment__list::after {
  position: absolute;
  content: " ";
  right: 0px;
  top: -132px;
  width: 100px;
  height: 100px;
  /*width: 198px;
  height: 198px;*/
  /*transform: scale(0.5);*/
  background-image: url("../img/rates@1x.png");
  background-size: 100px 100px;
}

.payment__list-item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  padding-right: 10px;
  width: 200px;
  min-height: 66px;
  border-top: 1px solid #e1e3e9;
}

.payment__list-item:last-child {
  border-bottom: 1px solid #e1e3e9;
}

.payment__list-item span:nth-child(2) {
  margin-top: -20px;
}

.payment__list-item::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: section;
  content: counter(section);
  right: -45px;
  top: 1px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #ffa530;
}

.payment__link {
  display: block;
  margin-left: 25px;
  margin-bottom: 30px;
  .fonts(16px,16px,700);
  text-decoration: none;
  color: @base-color;
}

@media (min-width: @tablet-width) {
  .payment {
    padding-top: 104px;
    padding-bottom: 85px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .payment__create-profile {
    .discard;
    margin-left: 99px;
    margin-bottom: 75px;
    .fonts(45px,45px,700);
  }

  .payment__list {
    .discard;
    margin-left: 40px;
    margin-bottom: 50px;
    .fonts(28px,33px,400);
  }

  .payment__list::after {
    top: 215px;
    right: 44px;
  }

  .payment__list-item {
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 30px;
    width: 677px;
  }

  .payment__list-item span:nth-child(2) {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    .discard;
    box-sizing: border-box;
    padding-right: 32px;
    width: 198px;
    min-height: 65px;
    background-color: #e2e5f2;
  }

  .payment__list-item::before {
    left: -40px;
    top: -3px;
    width: 67px;
    height: 67px;
    .fonts(28px,28px,500);
    color: #ffffff;
  }
/*
  .payment__list-item:first-of-type span:nth-child(2)::before {
    position: absolute;
    content: " ";
    top: -45px;
    right: 0;
    width: 198px;
    height: 44px;
    background-color: #e2e5f2;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .payment__list-item:last-of-type span:nth-child(2)::before {
    position: absolute;
    content: " ";
    top: 66px;
    right: 0;
    width: 198px;
    height: 44px;
    background-color: #e2e5f2;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }*/

  .payment__list-item-top-border::before {
    position: absolute;
    content: " ";
    top: -45px;
    right: 0;
    width: 198px;
    height: 44px;
    background-color: #e2e5f2;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .payment__list-item-bottom-border::before {
    position: absolute;
    content: " ";
    top: 66px;
    right: 0;
    width: 198px;
    height: 44px;
    background-color: #e2e5f2;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .payment__link {
    position: relative;
    .discard;
    margin-top: 7px;
    margin-left: 88px;
    .fonts(20px,20px,600);
  }

  .payment__link::before {
    position: absolute;
    content: " ";
    top: -25px;
    left: -89px;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #e2e5f2;
    background-image: url("../img/business.svg");
    background-repeat: no-repeat;
    background-position: 25px 21px;
    background-size: 17px 21px;
  }
}

@media (min-width: @desktop-width) {
  .payment__list::after {
    top: 0;
    right: 0;
  }
}
