.travellers {
  background-color: @base-color;
  .border-radius(20px);
}

.travellers__top-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.travellers ul {
  list-style: none;
}

.travellers__caption {
  .fonts(24px,24px,700);
  .discard;
  color: @caption-font-color;
}

.travellers__slogan {
  .fonts(16px,22px,400);
  color: #ffffff;
}

.travellers__text {
  .discard;
  .fonts(16px,22px,700);
  color: #ffffff;
}

.travellers__list {
  display: flex;
  flex-direction: column;
  .discard;
}

.travellers__list > li:first-child {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .travellers__list {
    flex-direction: row;
  }

  .travellers__list > li:first-child {
    margin-right: 20px;
  }

  .travellers__link {
    width: 618px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .travellers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .travellers__top-wrapper {
    width: 630px;
  }

  .travellers__link {
    .discard;
    margin-top: -100px;
    width: 280px;
    border: 1px solid red;
  }
  /*.travellers__text {
    width: 100px;
  }

  .travellers__caption {
    padding-top: 100px;
    width: 345px;
    height: 100px;
  }

  .travellers__slogan {
    padding-left: 50px;
    padding-right: 400px;
    width: 430px;
    height: 150px;
  }

  .travellers__list {
    margin-top: -400px;
    margin-left: 650px;
  }

  .travellers__link {
    width: 280px;
    margin: 0;
  }*/
}
