.traveller-card {
  margin-bottom: 170px;
}

.traveller-card__note {
  display: block;
  position: relative;
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.traveller-card__note--firsova {
  background-image: url("../img/firsova-desktop@1x.jpg");
  /*мобильная слишком мала*/
}

.traveller-card__note--demin {
  background-image: url("../img/demin-desktop@1x.jpg");
  /*мобильная слишком мала*/
}

.traveller-card__note-caption {
  position: absolute;
  margin-top: 270px;
  width: 270px;
  height: 157px;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.traveller-card__name {
  position: relative;
  display: block;
  margin-top: 20px;
  .fonts(21px,21px,700);
  color: @base-color;
  text-align: center;
}

.traveller-card__hobbies {
  margin-bottom: 10px;
}
