.travellers {
  width: 270px;
  background-color: @base-color;
}

.travellers ul{
  list-style: none;
}

.travellers__caption {
  margin-bottom: 25px;
  .fonts(24px,24px,700);
  .discard;

  color: @caption-font-color;
}

.travellers__slogan {
  .fonts(16px,22px,400);
  margin-bottom:25px;

  color: #ffffff;
}

.travellers__text {
  .discard;
  margin-bottom: 60px;
  .fonts(16px,22px,700);

  color: #ffffff;
}

.travellers__list {
  .discard;
}
