.travellers {
  position: relative;
  z-index: 8;
  margin-top: -30px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: @base-color;
  .border-radius(30px);
}

.travellers__top-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-top: 72px;
  padding-left: 25px;
}

.travellers ul {
  list-style: none;
}

.travellers__caption {
  .discard;
  .fonts(24px,24px,700);
  color: @caption-font-color;
}

.travellers__slogan {
  margin-top: 20px;
  padding-right: 30px;
  .fonts(16px,22px,400);
  color: #ffffff;
}

.travellers__slogan br {
  display: none;
}

.travellers__text {
  .discard;
  margin-top: 4px;
  margin-bottom: 6px;
  .fonts(16px,22px,700);
  color: #ffffff;
}

.travellers__text br {
  display: none;
}

.travellers__list {
  display: flex;
  flex-direction: column;
  .discard;
  margin-bottom: 20px;
}

.travellers__list > li:first-child {
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .travellers {
    padding-bottom: 88px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .travellers__top-wrapper {
    .discard;
    margin-top: 142px;
    margin-left: 33px;
    margin-bottom: 58px;
  }

  .travellers__caption {
    margin-bottom: 37px;
    .fonts(45px,45px,600);
  }

  .travellers__slogan {
    margin-left: 2px;
    padding-right: 200px;
    .fonts(28px,33px,400);
  }

  .travellers__slogan br {
    display: inline;
  }

  .travellers__text {
    .discard;
    box-sizing: border-box;
    margin-top: 11px;
    margin-left: 2px;
    width: 265px;
    .fonts(21px,25px,600);
  }

  .travellers__text br {
    display: inline;
  }

  .travellers__list {
    flex-direction: row;
    margin-left: 35px;
    margin-bottom: 70px;
  }

  .travellers__link {
    margin: 0 auto;
    padding-left: 30px;
    width: 618px;
    height: 81px;
    .fonts(24px,24px,600);
    border-radius: 20px;
  }

  .travellers__list > li:first-child {
    margin-right: 12px;
  }
}

@media (min-width: @desktop-width) {
  .travellers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 124px;
  }

  .travellers__top-wrapper {
    .discard;
    margin-top: 129px;
    margin-left: 68px;
    width: 630px;
  }

  .travellers__list {
    .discard;
    margin-left: -8px;
    margin-top: 133px;
    justify-content: space-between;
    width: 630px;
  }

  .travellers__link {
    .discard;
    margin-top: -90px;
    margin-left: 71px;
    padding-left: 30px;
    width: 280px;
  }
}
