.visited-countries {
  display: flex;
  justify-content: center;
  .discard;
  margin-top: -15px;
}

.visited-countries__item:not(:last-of-type) {
  margin-right: 20px;
}

.visited-countries__item {
  width: 35px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 35px 24px;
}

.visited-countries__item--shri {
  background-image: url("../img/flag-sri-lanka.svg");
}

.visited-countries__item--tai {
  background-image: url("../img/flag-thailand.svg");
}

.visited-countries__item--seych {
  background-image: url("../img/flag-seychelles.svg");
}

.visited-countries__item--belg {
  background-image: url("../img/flag-belgium.svg");
}

.visited-countries__item--cze {
  background-image: url("../img/flag-czech.svg");
}
