.visited-countries {
  display: flex;
  justify-content: center;
  .discard;
  margin-top: -10px;
}

.visited-countries__item:not(:last-of-type)  {
  margin-right: 20px;
}

.visited-countries__item  {
  width: 35px;
  height: 24px;
}

.visited-countries__item--shri {
  background-image: url("../img/flags-back@1x.png");
  background-position: 100px 10px;
}

.visited-countries__item--tai {
  background-image: url("../img/flags-back@1x.png");
  background-position: 100px 10px;
}

.visited-countries__item--seych {
  background-image: url("../img/flags-back@1x.png");
  background-position: 100px 10px;
}

.visited-countries__item--germ {
  background-image: url("../img/flags-back@1x.png");
  background-position: 100px 10px;
}

.visited-countries__item--cze {
  background-image: url("../img/flags-back@1x.png");
  background-position: 100px 10px;
}
